.about{
    margin: 100px 0;
    padding: 50px;
    .about-wrapper{
        padding-top: 30px;
        h1{
            text-align: center;
            font-size:40px;
            color: rgb(100,100,255);
        }
        .item_display{
            padding: 30px;
            .main_item{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .main_img{
                    width: 450px;
                    height: 450px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .main-text{
                    width: 30%;
                    padding: 20px;
                    &:hover{
                        box-shadow: 0 0 5px lightgrey;
                    }
                    h3{
                        font-size: 23px;
                        color: rgb(100,100,255);
                    }
                    p{
                        font-size: 18px;
                        margin: 10px 0;
                        color: rgb(172, 166, 166);
                    }
                }
            }
        }
    }
}