.shopping{
    width: 500px;
    min-height: 500px;
    background: #ffffff;
    position: fixed;
    top: 11%;
    right: -400%;
    z-index: 1000;
    box-shadow: 0 0 8px 8px lightgrey;
    &.active{
        right: 0;
    }
    .shopping-item_display{
        height: 400px;
        overflow: scroll;
        border-bottom:2px solid rgb(176,176,176);
        .main-items{
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
            .main_shop-items_display{
                display: flex;
                justify-content: center;
                align-items: center;
                .main-shop_img{
                    width: 100px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .main_shop-desc{
                    margin:0 15px;
                    color: rgb(100, 100, 255)!important;
                    position: relative;
                   h3{
                      font-weight: 500; 
                   }
                   p{
                       color:rgb(176,176,176)
                   }
                   .cancel-shop{
                    position: absolute;
                    top: 0;
                    right: 10%;
                    font-size: 20px;
                    color: red;
                    font-weight: bold;
                    cursor: pointer;
                   }
                }
            }
        
           .main-shop_price{
               h2{
                   font-size: 20px;
                   color: rgb(100, 100, 255);
               }
           }
        }
       
    }
    .totals_display{
        padding: 30px;
        text-align:center!important;
        color:rgb(100, 100, 255)!important;
    }
}